@import url("fonts.css");

body {
    font-family: "RobotoFlex";
    margin:0;
	display:flex;
	height:100vh;
	align-items:center;
    background-color: #F1F5FF;
}

.container{
    width: 60vw;
    height: 37vw;
    margin: 0 auto;
    overflow: auto;
    border-radius: 20px;
	background-color: #F1F5FF;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
}

.title {
    padding-top : 3%;
    margin-bottom: 10px;
    height: 5vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;;
    background-color: #0400AF;
    display: flex;
    justify-content: center;

}

.links {
    margin-top: -30px;
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #F1F5FF;
}

.link{
    background-color: white;
    color: #263455;
    height: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 6vw;
    margin-right: 6vw;
    border-radius: 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}