@import url("fonts.css");

/*copied from https://stackoverflow.com/questions/27644314/how-to-make-only-placeholder-italics-in-input*/

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

/*--------------*/

body {
    font-family: "RobotoFlex";
    margin:0;
	display:flex;
	height:100vh;
	align-items:center;
    background-color: #F1F5FF;
}

.container{
    width: 60vw;
    height: 40vw;
    margin: 0 auto;
    overflow: auto;
    border-radius: 20px;
	background-color: #F1F5FF;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
}

.title {
    padding-top : 3%;
    margin-bottom: 10px;
    height: 5vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;;
    background-color: #0400AF;
    display: flex;
    justify-content: center;

}

.sub-container {
    margin-top: -30px;
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #F1F5FF;
}

.search-box{
    display: grid;
    grid-template-columns: 80% 20%;
    margin-left: 20px;
    margin-right: 20px;
}

.search-box input{
    width: 100%;
    height: 5vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid grey;
    font-size: 1.5vw;
    background: url("../icons/search.png") no-repeat scroll 7px 7px;
    padding-left: 60px;
    background-size: 3.5vw;
    box-sizing: border-box;
    background-color: white;
}

.search-by{
    width: 100%;
    height: 5vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid grey;
    font-size: 1.5vw;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: white;
}

.search-results{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.search-results:nth-child(1){
    margin-top: 10px;
}

.result-entity{
    background-color: white;
    color: #263455;
    height: 5vw;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; 
    border-radius: 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 6vw 1fr 30%;
}

.result-photo{
    height: 5vw;
    border-radius: 20px;
}

.result-photo > img{
    height: 4.5vw;
    margin: 0.25vw;
    border-radius: 20px;
}

.result-name{
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: bold;
}

.result-button{
    display: flex;
    align-items: center;
    justify-content: right;
    box-sizing: border-box;
}

.view-cv-button{
    height: 4.5vw;
    background-color: #0400AF;
    color: white;
    border-radius: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin: 0.25vw;
}